.status-active {
    color: white;
    background-color: #4CAF50;
    border-radius: 5px;
    text-align: center;
    display: block;
    font-size: 0.875rem;
    margin: auto;
    
  }
  
  .status-draft {
    color: white;
    background-color: #FF9800;
    border-radius: 5px;
    text-align: center;
    display: block;
    font-size: 0.875rem;
    margin: auto;
    
  }
  
  .status-default {
    color: white;
    background-color: #9E9E9E;
    border-radius: 5px;
    text-align: center;
    display: block;
    font-size: 0.875rem;
    margin: auto;
    
  }
  .status-planned {
    color: white;
    background-color: #f5a504;
    border-radius: 5px;
    text-align: center;
    display: block;
    font-size: 0.875rem;
    margin: auto;
    
  }
  
  
  .box {
    height: 65px;
    width: 1343px;
  }
  
  .box .top-nav {
    background-color: #ffffff;
    border: 2px solid;
    border-color: #f1f1f1;
    height: 65px;
    left: 10;
    position: fixed;
    top: 10;
    width: 1343px;
  }
  
  .label {
    height: 34px;
    width: 307px;
    padding-top: 15px;
  }
  
  .label .text-wrapper {
    color: #545d69;
    font-family: "Open Sans-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left:10;
    letter-spacing: 0;
    line-height: normal;
    position: fixed;
    top: 10;
    width: 307px;
  }

  .content-container {
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px; 
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
  }
  
 
  